alembic
aniso8601
bcrypt
blinker
click
dotenv
Flask
Flask-Bcrypt
flask-cors
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
greenlet
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
psycopg2-binary
python-dotenv
python-slugify
pytz
setuptools
six
slugify
SQLAlchemy
sqlalchemy-serializer
text-unidecode
typing_extensions
Werkzeug
